export(ICeDT_fit_Wgt_suppRef)
export(ICeDT_fit_noWgt_suppRef)
export(ICeDT_fit_noWgt_noRef)

import(alabama)
  importFrom("stats", "IQR", "coef", "dnorm", "lm", "median", "optimize",
             "quantile", "var")
